# las dependencias principales para IA
# puede haber otras dependencias más especificas en cada asignatura
# la asignatura de reinforcement learning tiene su propio versionado

# jupyter notebooks
ipykernel
notebook

# manipulacion y analisis de datos
pandas
numpy

# visualización de datos
matplotlib
seaborn

# machine learning
scikit-learn

# fuzzy logic and control
scikit-fuzzy

# deep learning, 
tensorflow==2.10
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118


# computer vision
opencv-python
scikit-image
Pillow
imageio

# manejo de configuraciones y variables de entorno
python-decouple

# kaggle
pip install kaggle